<!DOCTYPE html>
@Scripts.Render("~/bundles/jquery")
<html>
<head>
    <!-- Bootstrap Core JavaScript -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <!-- Contact Form JavaScript -->
    <script src="@Url.Content("~/Scripts/jqBootstrapValidation.js")"></script>
    <!-- Theme JavaScript -->
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Ntust/style.css")">
    <!-- Resource style -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="@Url.Content("~/Content/clean-blog.min.css")" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/Content/Ntust/info.css")" rel="stylesheet">
</head>
@{
    @Html.Partial("_NavPartial");
}
<body>

    <div class="row" style="width:100%; height:50px;"></div>

    <main class="cd-main-content animsition">
        <div class="cd-fixed-bg cd-bg-1">
            <div class="gray-shadow">
                <h2 style="text-align:center; font-weight:800; top:35%;">學程特色</h2>
                <hr style="height:2px;border:none;background-color:white; margin-top:60px; top:35%;">
                <span class="fa fa-chevron-down down" style="color:white; top:55%; font-size:2.5em;" aria-hidden="true"></span>
            </div>
        </div>
        <!-- cd-fixed-bg -->
        <div class="cd-scrolling-bg">
            <div class="container" id="here">
                <div class="row">
                    <div class="wow col-xs-8 col-xs-offset-2 fadeInDown" style="text-align:center">
                        <h2>學程特色</h2>
                    </div>
                    <hr class="wow col-xs-4 col-xs-offset-4 fadeInUp" style="padding:0;height:2px;border:none;background-color:#333;">
                </div>
                <div style="width:100%; height:50px;"></div>
                <div class="row">
                    <div class="wow col-md-4 fadeInUp" style="text-align:left">
                        <div class="col-xs-12" style="text-align:center; color: #609cd8;">
                            <h3>落實跨領域學習</h3>
                        </div>
                        <hr class="wow col-xs-10 col-xs-offset-1 fadeInUp" style="padding:0;height:2px;border:none;background-color:#333;">
                        <div class="col-xs-12">
                            <p>整合跨院、跨系專業課程，建立不同背景的專業互相學習，激發創新思維。</p>
                        </div>
                    </div>
                    <div class="wow col-md-4 fadeInDown" style="text-align:left">
                        <div class="col-xs-12" style="text-align:center; color: #609cd8;">
                            <h3>強調理論實務並重</h3>
                        </div>
                        <hr class="wow col-xs-10 col-xs-offset-1 fadeInUp" style="padding:0;height:2px;border:none;background-color:#333;">
                        <div class="col-xs-12">
                            <p>融合「創意」、「生活」、「實作」學習元素，跨界學員與專家齊聚交流，輔以實際參訪活動，帶領學生認知相關產業或相關展覽活動，增進學生對實務與空間會展操作之瞭解，進而增加與產學互動機會，活化教學與創意實踐。</p>
                        </div>
                    </div>
                    <div class="wow col-md-4 fadeInUp" style="text-align:left">
                        <div class="col-xs-12" style="text-align:center; color: #609cd8;">
                            <h3>在地落實，放眼國際</h3>
                        </div>
                        <hr class="wow col-xs-10 col-xs-offset-1 fadeInUp" style="padding:0;height:2px;border:none;background-color:#333;">
                        <div class="col-xs-12">
                            <p>為承襲本校國際化之策略，除透過網路資源及教師、業師攜手推動國際化學習外，另將指導學生參加國內或國外舉辦之國際性競賽與參加國際交流研習活動，累計實作及國際合作的經驗，拓展學生國際化視野，培育國際化人才。</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="wow col-sm-12 fadeInUp" style="text-align: center; margin-top:20px;">
                        <a class="btn animsition-link" style="display: inline-block; text-align: center;" href="/Ntust/index">最新消息</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cd-fixed-bg cd-bg-2">
            <h2 style="text-align:center; font-weight:800; top:35%;">學程使命</h2>
            <hr style="height:2px;border:none;background-color:white; margin-top:60px; top:35%;">
            <span class="fa fa-chevron-down down" style="color:white; top:55%; font-size:2.5em;" aria-hidden="true"></span>
        </div>
        <!-- cd-fixed-bg -->
        <div class="cd-scrolling-bg" style="width:100%; background-color:#f8f8f8">
            <div class="container">
                <div class="row">
                    <div class="wow col-md-7 fadeInDown">
                        <h3>學程使命</h3>
                        <hr style="height:1px;border:none;background-color:#aaa;">
                        <h4 style="line-height:2em;">
                            隨著現代生活型態的改變，生活化設計的概念已貼近實際生活訴求，透過跨領域的合作，不僅為設計提供更高的附加價值，也是一種趨勢，文化創意產業結合了生活、文化及創意，成為一種新的跨界方式整合。
                        </h4>
                        <h4 style="line-height:2em;">
                            本院擬以既有室內設計、空間規劃專業，結合本校管理學院與應科學院創新、創業與管理等專業知識，規劃跨院、跨系「生活空間創意學分學程」，另擬邀請校內具有豐富的文創設計、策展、產業合作經驗之教師群，並延攬業界專家共同來授課，期望透過跨領域溝通及合作，互相體驗深度學習，激發新創思維，進而培養貼近文創產業需求之高端人才，冀希將設計帶入文化創意及生活，打造優質環境，讓世界看見臺灣，將臺灣多元美好的文化形象推向國際。
                        </h4>
                    </div>
                    <div class="col-md-5 wow fadeInDown" style="vertical-align:middle;">
                        <h3><a href="/Ntust/ClassDetail?ID=10" style="color: #609cd8;">創意生活企劃</a>招生影片</h3>
                        <hr style="height:1px;border:none;background-color:#aaa;">
                        <div class="videoWrapper" style="margin-top:35px;   padding-top:0px;">
                            <video class="videoSize" src="~/img/ntust/intro.mov" controls="controls"></video>
                            @*<iframe width="854" height="480" src="https://www.youtube.com/embed/2HDpTIMg-Pw" frameborder="0" allowfullscreen></iframe>*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="wow col-sm-12 fadeInUp" style="text-align: center; margin-top:20px;">
                        <a class="btn animsition-link" style="display: inline-block; text-align: center;" href="/Ntust/index">最新消息</a>
                    </div>
                </div>
            </div>

            <footer>
                <div class="container">
                    <div class="col-xs-12">
                        <hr style="width: 100%; border-top: 1px solid #ccc; margin-top:50px;">
                        <span class="copyright text-muted">Richard 2017</span>
                    </div>
                </div>
            </footer>
        </div>
        @*<div class="cd-fixed-bg cd-bg-3">
                <h2 style="text-align:center;">近期活動</h2>
                <hr style="height:1px;border:none;background-color:#aaa; margin-top:60px;">
            </div>
            <!-- cd-fixed-bg -->
            <div class="cd-scrolling-bg">

                <div style="width:100;">
                    <section id="cd-timeline" class="cd-container" style=" margin-top:0;">
                        <div class="cd-timeline-block">
                            <div class="wow cd-timeline-img cd-picture zoomIn">
                                <i class="fa fa-magic fa-lg"></i>
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="wow cd-timeline-content fadeInDown">
                                <h2>Title of section 1</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                <a href="/Ntust/index" class="cd-read-more">Read more</a>
                                <span class="cd-date">Jan 14</span>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="wow cd-timeline-img cd-movie zoomIn">
                                <i class="fa fa-magic fa-lg"></i>
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="wow cd-timeline-content fadeInDown">
                                <h2>Title of section 2</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                                <a href="/Ntust/index" class="cd-read-more">Read more</a>
                                <span class="cd-date">Jan 18</span>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="wow cd-timeline-img cd-picture zoomIn">
                                <i class="fa fa-magic fa-lg"></i>
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="wow cd-timeline-content fadeInDown">
                                <h2>Title of section 3</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                                <a href="/Ntust/index" class="cd-read-more">Read more</a>
                                <span class="cd-date">Jan 24</span>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="wow cd-timeline-img cd-location zoomIn">
                                <i class="fa fa-magic fa-lg"></i>
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="wow cd-timeline-content fadeInDown">
                                <h2>Title of section 4</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                <a href="/Ntust/index" class="cd-read-more">Read more</a>
                                <span class="cd-date">Feb 14</span>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="wow cd-timeline-img cd-location zoomIn">
                                <i class="fa fa-magic fa-lg"></i>
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="wow cd-timeline-content fadeInDown">
                                <h2>Title of section 5</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                                <a href="/Ntust/index" class="cd-read-more">Read more</a>
                                <span class="cd-date">Feb 18</span>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                        <div class="cd-timeline-block">
                            <div class="wow cd-timeline-img cd-movie zoomIn">
                                <i class="fa fa-magic fa-lg"></i>
                            </div>
                            <!-- cd-timeline-img -->
                            <div class="wow cd-timeline-content fadeInDown">
                                <h2>Final Section</h2>
                                <p>This is the content of the last section</p>
                                <span class="cd-date">Feb 26</span>
                            </div>
                            <!-- cd-timeline-content -->
                        </div>
                        <!-- cd-timeline-block -->
                    </section>
                    <!-- cd-timeline -->
                </div>
                <footer>
                    <div class="container">
                        <div class="col-xs-12">
                            <hr style="width: 100%; border-top: 1px solid #ccc; margin-top:50px;">
                            <span class="copyright text-muted">Richard 2017</span>
                        </div>
                    </div>
                </footer>
            </div>*@
    </main>
</body>
</html>
<script src="https://use.typekit.net/wyd4emv.js"></script>
<script>
    try {
        Typekit.load({
            async: false
        });
    } catch (e) { }
</script>